@using Extrade.ViewModels;
@using extrade.models
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model PaginingViewModel<List<UserViewModel>>
@{
    Layout = "_AdminLayout"; 
}

  <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                              <th scope="col">NameEn</th>
                                              <th scope="col">NameAr</th>
                                              <th scope="col">E-Mail</th>
                                              <th scope="col">Country</th>
                                              <th scope="col">Phone</th>
                                              <th scope="col">IsDeleted</th>
                                              <th scope="col">Edit</th>
                                              <th scope="col">RoleAdmin</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th scope="col">NameEn</th>
                                              <th scope="col">NameAr</th>
                                              <th scope="col">E-Mail</th>
                                              <th scope="col">Country</th>
                                              <th scope="col">Phone</th>
                                              <th scope="col">IsDeleted</th>
                                              <th scope="col">Edit</th>
                                              <th scope="col">RoleAdmin</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
      @foreach(var user in Model.Data){
    <tr>
      
      <td>@user.NameEn</td>
      <td>@user.NameAr</td>
      <td>@user.Email</td>
      <td>@user.Country</td>
      <td><select>@foreach(var i in @user.Phones)
                    {
                        <option>@i</option>
                    }</select>
      </td>
      <td>@if (@user.IsDeleted == true)
          {<a asp-action="SoftDelete" asp-controller="User" 
          asp-route-Id="@user.ID"
          class="btn btn-primary">Not Activate</a>
          }
          else {<a asp-action="SoftDelete" asp-controller="User" 
          asp-route-Id="@user.ID"
          class="btn btn-danger">Active</a>
          }
                    
                </td>
                <td><a asp-action="Update" asp-controller="User" asp-route-Id=@user.ID >Edit</a></td>
                <td><a asp-action="UpdateRole" asp-controller="User" asp-route-Id=@user.ID>Role</a></td>
    </tr>
    }
    

                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>