
@using Extrade.ViewModels
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{Layout="_AdminLayout";}
@model List<MarketerViewModels>
  <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                          <th scope="col">ID</th>
                                    <th scope="col">NameAr</th>
                                      <th scope="col">NameEn</th>
                                      <th scope="col">Email</th>
                                       <th scope="col">TaxCard</th>
                                         <th scope="col">Salary</th>
                                           <th scope="col">CollectionsName</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                      <th scope="col">ID</th>
                                      <th scope="col">NameAr</th>
                                      <th scope="col">NameEn</th>
                                      <th scope="col">Email</th>
                                       <th scope="col">TaxCard</th>
                                         <th scope="col">Salary</th>
                                           <th scope="col">CollectionsName</th>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var p in Model)
    {
         <tr>
      <td>@p.UserID</td>
      <td>@p.NameAr</td>
      <td>@p.NameEn</td>
      <td>@p.Email</td>
      <td>@p.TaxCard</td>
      <td>@p.Salary</td>
       <td><select>@foreach(var i in @p.CollectionsName)
                    {
                        <option>@i</option>
                    }</select>
      </td>

  

    
       <td>@if (@p.IsDeleted == true)
          {<a asp-action="SoftDelete" asp-controller="Marketer" 
          asp-route-Id="@p.UserID"
          class="btn btn-primary">Not Activate</a>
          }
          else {<a asp-action="SoftDelete" asp-controller="Marketer" 
          asp-route-Id="@p.UserID"
          class="btn btn-danger">Active</a>
          }
                    
                </td>
    </tr>
        
    }
   
                                    </tbody>
                                </table>
                            </div>
                        </div>





